<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="datastr" connectionString="SERVER=.;DATABASE=NSH;UID=sa;Password=000000"/>
  </connectionStrings>
  
  <superSocket>
    <servers>
      <server name="SecureSuperWebSocket" serverTypeName="SuperWebSocket" ip="Any" port="7788" mode="Tcp"  minWorkingThreads="50" maxWorkingThreads="5000" maxCompletionPortThreads="10000" minCompletionPortThreads="1000" listenBacklog="10000" maxConnectionNumber="100000" maxRequestLength="2048000">
      </server>
    </servers>
    <serverTypes>
      <add name="SuperWebSocket" type="SuperWebSocket.WebSocketServer, SuperWebSocket" />
    </serverTypes>
  </superSocket>
  
</configuration>