<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="datastr" connectionString="SERVER=.;DATABASE=nnsh;UID=sa;Password=123456"/>
  </connectionStrings>
  <appSettings>
	 <add key="logpath" value="D:\menjinlog\" />
    <add key="drpath" value="D:\tst" />
    <add key="dcpath" value="D:\tst2" />
    
  </appSettings>
  
  

</configuration>