img{
    width: 100%;
    height: 100%;
}
.bg{
    width: 90%;
    height: 650px;
    /* margin: 0 auto; */
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.y{
    width: 30px;
    height: 30px;
    background-color: green;
    border-radius: 50%;
    border:2px solid #337AB7;
    display: inline-block;
}
.redColor{
    background-color: red;
}
#L5{
    position: absolute;
    left: 22%;
    top: 47%;
}
#L6{
    position: absolute;
     left: 22%;
    top: 40%;
}
#L7{
    position: absolute;
      left: 62%;
    top: 34%;
   
}
#L107{
    position: absolute;
  
     left: 22%;
    top: 34%;
}
#L8{
    position: absolute;
     left: 62%;
    top: 27%;
  
}
#L108{
    position: absolute;
   
      left: 22%;
    top: 27%;
}

a{
    text-decoration: none;
    font-size: 25px;
    color: #f05a28;
    display: inline-flex;
}